.footnav {
    
    margin-top: 3rem;

    .next {
        border: 1px solid $color-link;
        display: block;
        font-size: larger;
        padding: 2rem;
        margin-bottom: 1rem;
        position: relative;

        &:hover {
            background-color: $color-link;
            color: $white;
        }

        &::after {
            content: '↦' /*'›'*/;
            font-size: 70px;
            line-height: 4.6rem;
            margin-right: 2rem;
            position: absolute;
            top: 0; bottom: 0;
            right: 0;
        }
    }

}

figure {
    font-size: 10px;
    line-height: 1.3;
}

.footnote {
    font-size: 12px;
}

blockquote.action {
    background-color: #e9f4e9;
    border-left-color: #4bb745;

    pre {
        background-color: #000000C4 !important;
    }

    &::before {
        content: "Activity...";
        display: block;
        font-weight: bold;
    }
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
    color: #ff470f;
}

.markdown a:visited {
    color: #00316c;
}